In [3]:
def getData(n, company):
    import pandas as pd
    path=f"D:\Documents\FYP\Historical Data New (sorted)\{company}.csv"
    data=pd.read_csv(path)
    data=data.sort_values(by='TIME')
    time=data["TIME"]
    values=data["HIGH"]
    previous_data=[]
    for i,x in enumerate(time):
        previous_data.append({str(time[i]):values[i]})
    # previous_data.sort()
    return previous_data[-n:]
getData(30,'ENGRO')

[{'May 10, 2022': 273.0},
 {'May 9, 2022': 276.4},
 {'May 6, 2022': 278.85},
 {'Jun 30, 2022': 259.0},
 {'Jun 29, 2022': 258.75},
 {'Jun 28, 2022': 259.25},
 {'Jun 27, 2022': 258.05},
 {'Jun 24, 2022': 264.34},
 {'Jun 23, 2022': 265.5},
 {'Jun 22, 2022': 265.95},
 {'Jun 21, 2022': 264.93},
 {'Jun 20, 2022': 266.4},
 {'Jun 17, 2022': 265.25},
 {'Jun 16, 2022': 261.99},
 {'Jun 15, 2022': 262.24},
 {'Jun 14, 2022': 263.2},
 {'Jun 13, 2022': 263.83},
 {'Jun 10, 2022': 264.11},
 {'Jun 9, 2022': 263.57},
 {'Jun 8, 2022': 263.97},
 {'Jun 7, 2022': 264.95},
 {'Jun 6, 2022': 264.99},
 {'Jun 3, 2022': 264.2},
 {'Jun 2, 2022': 269.0},
 {'Jun 1, 2022': 270.31},
 {'Jul 7, 2022': 253.94},
 {'Jul 6, 2022': 257.0},
 {'Jul 5, 2022': 255.0},
 {'Jul 4, 2022': 257.0},
 {'Jul 1, 2022': 258.5}]

In [10]:
import pandas as pd
company='ENGRO'
path=f"G:\FYP DATA\Historical Data\{company}.csv"
data=pd.read_csv(path)
data=data.sort_values(by='TIME')
time=data["TIME"]
time=pd.to_datetime(time)
time=pd.to_numeric(time)
time.sort_values()[1]

1517270400000000000

In [3]:
import pandas as pd
list_companies=['ENGRO','LUCK', 'OGDC','FFC','HBL','HUBC','PPL', 'POL','EFERT', 'MCB',
                'UBL','DGKC','PSO','SEARL','MLCF','BAHL','MARI','TRG','ATRL','UNITY',
                'SYS','MEBL','GHNI','PIOC','CHCC','PAEL','ISL','KAPCO' ]

for company in list_companies:
    path=f"D:\Documents\FYP\Historical Data New\{company}.csv"
    data=pd.read_csv(path)
    data['TIME']=pd.to_datetime(data['TIME'])
    data=data.sort_values(by='TIME')
    data.rename(columns={"Unnamed: 0":'index'},inplace=True)
    data.drop("index",axis=1,inplace=True)
    path=f"D:\Documents\FYP\Historical Data New (sorted)\{company}.csv"
    data.to_csv(path)

In [5]:
def getData(n, company):
    import pandas as pd
    path=f"D:\Documents\FYP\Historical Data New (sorted)\{company}.csv"
    data=pd.read_csv(path)
    data=data.sort_values(by='TIME')
    time=data["TIME"][0:100]
    values=data["HIGH"][0:100]
    previous_data=[]
    for i,x in enumerate(time):
        previous_data.append({str(time[i]):values[i]})
    return previous_data[-n:]
getData(5,'ENGRO')

[{'2022-11-21': 258.95},
 {'2022-11-22': 266.5},
 {'2022-11-23': 262.75},
 {'2022-11-24': 266.01},
 {'2022-11-25': 269.89}]

In [7]:

def getData(n, company,variable):
    import pandas as pd
    path=f"D:\Documents\FYP\Historical Data New (sorted)\{company}.csv"
    data=pd.read_csv(path)
    data=data.sort_values(by='TIME')
    data=data[['TIME',variable]][-100:]
    time=data["TIME"]
    values=data[variable]
    previous_data=[]
    for i in data.index:
        previous_data.append({str(time[i]):values[i]})
    return previous_data[-n:]
getData(30,'ENGRO','HIGH')

[{'2022-10-28': 236.36},
 {'2022-10-31': 236.4},
 {'2022-11-01': 239.89},
 {'2022-11-02': 242.1},
 {'2022-11-03': 241.0},
 {'2022-11-04': 242.49},
 {'2022-11-07': 242.5},
 {'2022-11-08': 245.0},
 {'2022-11-10': 246.6},
 {'2022-11-11': 246.25},
 {'2022-11-14': 244.8},
 {'2022-11-15': 244.75},
 {'2022-11-16': 262.85},
 {'2022-11-17': 261.0},
 {'2022-11-18': 261.0},
 {'2022-11-21': 258.95},
 {'2022-11-22': 266.5},
 {'2022-11-23': 262.75},
 {'2022-11-24': 266.01},
 {'2022-11-25': 269.89},
 {'2022-11-28': 265.2},
 {'2022-11-29': 268.99},
 {'2022-11-30': 264.49},
 {'2022-12-01': 267.9},
 {'2022-12-02': 268.1},
 {'2022-12-05': 267.25},
 {'2022-12-06': 263.89},
 {'2022-12-07': 264.95},
 {'2022-12-08': 264.25},
 {'2022-12-09': 265.34}]

In [5]:
import pandas as pd
company='ENGRO'
variable="LOW"
path=f"D:\Documents\FYP\Historical Data New (sorted)\{company}.csv"
data=pd.read_csv(path)
data=data.sort_values(by='TIME')
data=data[['TIME',variable]][-100:]
index=range(0,len(data))
data.set_index('TIME')
# data['HIGH']
# list(index)

index=data.index
index

Int64Index([ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
             75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
             88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100,
            101, 102, 103, 104, 105, 106, 107, 108, 109],
           dtype='int64')

In [16]:
import pandas as pd
import os
company="FFC"
# path=os.chdir('../../Data/Historical Data New (sorted)/ENGRO.csv')
path=f"../../Data/Historical Data New (sorted)/{company}.csv"
data=pd.read_csv(path)
data

     Unnamed: 0        TIME    OPEN    HIGH     LOW   CLOSE   VOLUME
0            17  2022-07-01  111.01  113.50  111.01  111.99   393257
1            16  2022-07-04  111.50  111.50  108.39  109.89   467337
2            15  2022-07-05  109.80  110.00  108.80  108.85   156662
3            14  2022-07-06  109.28  109.50  109.00  109.27   518128
4            13  2022-07-07  109.49  111.50  108.85  110.53   432991
..          ...         ...     ...     ...     ...     ...      ...
105         107  2022-12-05  102.65  102.65  101.71  101.87   127420
106         106  2022-12-06  101.98  102.00  100.80  101.59   833723
107         105  2022-12-07  101.25  102.00  101.15  101.99   601863
108         104  2022-12-08  102.20  102.50  101.45  102.29   145895
109         103  2022-12-09  102.00  102.98  101.90  102.55  1127131

[110 rows x 7 columns]